/* Untuk Tablet */
@media all and (min-width: 670px) {
    .sosial-media {
      float:right;
      margin-right: 20px;

    }
    .footer-list {
      padding-left: 5px;
      font-size: 25px;
      margin-top: -50px;
    }
    .year {
      margin-top: 65px;
      margin-bottom: 50px;
    }
  }
  
